## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
! dir

 Volume in drive C has no label.
 Volume Serial Number is 2E6A-E828

 Directory of C:\Users\Scott\Class\World_Weather_Analysis

02/13/2022  10:18 AM    <DIR>          .
02/13/2022  10:18 AM    <DIR>          ..
01/31/2022  04:05 PM             1,928 .gitignore
02/12/2022  05:57 PM    <DIR>          .ipynb_checkpoints
01/31/2022  06:15 PM             1,663 API_practice.ipynb
02/12/2022  11:17 AM    <DIR>          Class Assignments
02/09/2022  06:38 PM               120 config.py
02/13/2022  09:39 AM             5,141 Ins_Itinerary.ipynb
01/31/2022  06:15 PM             8,295 random_numbers.ipynb
01/31/2022  04:05 PM                24 README.md
02/12/2022  08:52 AM             3,728 Stu_Burundi.ipynb
02/12/2022  05:56 PM                72 Untitled.ipynb
02/12/2022  08:37 AM            31,605 VacationPy.ipynb
02/13/2022  10:03 AM    <DIR>          Vacation_Itinerary
02/13/2022  10:18 AM            20,548 Vacation_Itinerary.ipynb
02/13/2022  09:35 AM    <DIR>          Vacation_Search
02/12/2022  05:30 PM            34,554 Vacation_Search.ipynb
02/12/2022  06:14 AM           412,823 WeatherPy.ipynb
02/09/2022  05:25 PM    <DIR>          weather_data
02/11/2022  07:06 PM    <DIR>          Weather_Database
02/12/2022  05:48 PM            57,261 Weather_Database.ipynb
02/12/2022  08:21 AM    <DIR>          __pycache__
              13 File(s)        577,762 bytes
               9 Dir(s)  342,872,535,040 bytes free

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Butaritari,KI,81.88,light rain,3.0707,172.7902,Isles Sunset Lodge
1,3,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
2,10,Tagum,PH,82.31,overcast clouds,7.4478,125.8078,Big 8 Corporate Hotel
3,16,Rikitea,PF,79.18,light rain,-23.1203,-134.9692,People ThankYou
4,31,Marawi,PH,77.25,few clouds,7.9986,124.2928,Derogongan Residence

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Pacific Grove"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Lompoc"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Lake Havasu City"] 

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
105,413,Lake Havasu City,US,81.21,clear sky,34.4839,-114.3224,Heat Hotel

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {vacation_stop1}, Stop 2: {vacation_stop2}')

Stop 1:      City_ID           City Country  Max Temp Current Description      Lat  \
124      489  Pacific Grove      US     75.58           clear sky  36.6177

          Lng        Hotel Name
124 -121.9166  Lovers Point Inn  , Stop 2:      City_ID    City Country  Max Temp Current Description      Lat       Lng  \
113      446  Lompoc      US     80.13           clear sky  34.6391 -120.4579

                                   Hotel Name
113  Holiday Inn Express Lompoc, an IHG Hotel

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

# Latitude-longitude pairs
start = (37.4636, -122.4286)
stop1 = (36.6177, -121.9166)
stop2 = (34.6391, -120.4579)
stop3 = (34.4839, -114.3224)
end = (37.4636, -122.4286)

fig = gmaps.figure()
HMBandBack = gmaps.directions_layer(start, end, waypoints=[start, stop1, stop2, stop3, end],
        travel_mode="DRIVING")
fig.add_layer(HMBandBack)
fig

Start: (37.4636, -122.4286), End: (37.4636, -122.4286)

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,249,Half Moon Bay,US,76.24,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
1,489,Pacific Grove,US,75.58,clear sky,36.6177,-121.9166,Lovers Point Inn
2,446,Lompoc,US,80.13,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
3,413,Lake Havasu City,US,81.21,clear sky,34.4839,-114.3224,Heat Hotel

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))